rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/movie-memory/tickets/{ticketPath=**} {
      allow read, delete: if request.auth != null
                          && request.auth.uid == userId;
      allow create, update: if request.auth != null
                            && request.auth.uid == userId
                            && request.resource.size < 2 * 1024 * 1024
                            && request.resource.contentType.matches('image/(jpeg|png|webp)');
    }

    match /public-drive/{fileName} {
      allow read: if true;
      allow create: if fileName.size() <= 260;
      allow update: if false;
      allow delete: if resource.timeCreated < request.time - duration.value(7, 'd');
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
